<form [formGroup]="loginForm"> 
  <h3>Se connecter</h3>
  <div class="form-group">
    <label for="email"></label>
    <input type="email" placeholder="Email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password"></label>
    <input type="password" placeholder="Mot de passe" formControlName="password">
  </div>
  <button class="btn-login" [disabled]="loginForm.invalid" (click)="onSubmit()">Se connecter</button>
  <p >Si vous n'avez pas encore de compte<br>cliquez <a routerLink="/signup">ici</a></p> 
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p> 
</form>

 

