<app-header></app-header>

<form class="auth"> 
  <h2>Se connecter</h2>
  <div class="input">
    <label for="email"></label>
    <input type="email" placeholder="Email" class="email" required>
  </div>
  <div class="input">
    <label for="password"></label>
    <input type="password" placeholder="Mot de passe" class="password" required>
  </div>
  <button class="btn-login" (click)="onLogin()" >Se connecter</button>
  <p >Si vous n'avez pas<br>encore de compte<br>cliquez <a routerLink="/signup">ici</a></p>  

</form>

<app-footer></app-footer>