form {
  border: 3px solid #fd2900;
  border-radius: 10px;
  width: 30em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-left: 1em;
  color: grey;
}
.title {
  margin: 1.2em;
  width: 29em;
}
.content {
  margin: 1.2em;
  padding: 2em;
  width: 29em;
}
.btn-post {
  margin: 1em;
  padding: 0.6em;
  border: 1px solid #fd2900;
  background-color: #fd2900;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
