form {
  border: 3px solid #fd2900;
  border-radius: 10px;
  width: 40em;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-left: 1em;
  color: grey;
}
.title {
  margin: 1.2em;
  width: 90%;
}
.content {
  margin: 1.2em;
  padding: 1em;
  width: 90%;
}
.btn-post {
  margin: 1em;
  border: 1px solid #fd2900;
  background-color: #fd2900;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
.btn-post:hover {
  color: #fd2900;
  background-color: white;
}
