form {
  border: 1px solid #fd2900;
  border-radius: 10px;
  width: 30em;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}
h3 {
  margin-left: 1em;
  color: grey;
}
.input {
  margin: 1.2em;
  width: 20em;
  text-align: center;
}
.btn-signup {
  margin: 1em;
  padding: 0.6em;
  background-color: #fd2900;
  color: white;
  font-size: 1em;
  font-weight: bold;
  border-radius: 10px;
}
.btn-signup:hover {
  box-shadow: 0 0 20px #fd2900;
}
