<form [formGroup]="signupForm">
  <h3>S'inscrire</h3>
  <div class="form-group">
    <label for="email"></label>
    <input type="text" placeholder="Email" formControlName="email">
  </div>
  <div class="form-group">
    <label for="password"></label>
    <input type="password" placeholder="Mot de passe" formControlName="password">
  </div>
  <div class="form-group">
    <label for="firstName"></label>
    <input type="text" placeholder="Prénom" formControlName="firstName">
  </div>
  <div class="form-group">
    <label for="lastName"></label>
    <input type="text" placeholder="Nom" formControlName="lastName">
  </div>
  <button class="btn-signup" [disabled]="signupForm.invalid" (click)="onSubmit()">S'inscrire</button>
  <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>
