<!-- <div class="profil">
  <h3>Paramètres du compte</h3>
  <div class="information">
    <div class="modification">
      <p>Nom: {{ user.lastName }}</p>
    </div>
    <div class="modification">
      <p>Prénom: {{ user.firstName }}</p>
    </div>
    <div class="modification">
      <p>Email: {{ user.email }}</p>
    </div>

    <button class="delete-account" (click)="deleteUser()" routerLink="/signup">Supprimer le compte</button>


  </div> -->


<h3>Paramètres du compte</h3>
<div class="profil" >
  <div class="modification" >
      <p>Nom : {{ user.lastname }} </p>
  </div>
  <div class="modification">
      <p>Prénom : {{ user.firstname }}</p>
  </div>
  <div class="modification">
      <p>Email : {{ user.email }}</p>
  </div>
  <div class="modification">
      <p>Date de naissance : {{ user.datebirth }}</p>
  </div>
  <div class="picture">
      <p>Photo de profil : <img [src]="user.picture" alt=""></p>
  </div>
  <button class="delete-account" (click)="deleteUser()" routerLink="/signup">supprimer le compte</button>
  <button routerLink="/post-list">Retour à l'accueil</button>
</div>
