<div class="logo">
  <img alt="logo groupomania" src="assets\images\icon-left-font.png">
</div>
<div class="menu">
  <button class="nav" routerLink="/home">Accueil</button>
  <button class="nav" routerLink="/signup">S'identifier</button>
  <button class="nav" routerLink="/login">Se connecter</button>
  <button class="nav" routerLink="/post">Publier</button>
  <button class="nav" routerLink="/profil">Mon compte</button>
  <button class="nav" routerLink="/disconnect">Déconnexion</button>


</div>


