img {
  width: 80%;
}
ul {
  text-align: center;
}
li {
  display: inline-block;
  margin-left: 1.5em;
  background: linear-gradient(to bottom, #fd2900, #ff917b);
  border-radius: 4px 24px;
  margin: 0.3em;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5em;
  margin: 1em;
}
@media only screen and (min-width: 900px) {
  img {
    width: 40%;
  }
}
