.logo {
  text-align: right;
}
.nav {
  cursor: pointer;
  margin-left: 3em;
  border-radius: 10px;
  border: 1px solid #fd2900;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  background-color: #fd2900;
  color: white;
}
.nav:hover {
  box-shadow: 0 0 15px #fd2900;
}
