<div class="menu">
  <a routerLink="/signup" >S'identifier</a>
  <a routerLink="/login" >Se connecter</a>
  <a routerLink="/post-form" >Publier</a>
  <a (click)="signOut()" >Déconnexion</a>
  <!-- <a routerLink="/signUp" *ngIf="!isAuth">S'identifier</a>
  <a routerLink="/login" *ngIf="!isAuth">Se connecter</a>
  <a routerLink="/post-form" *ngIf="!isAuth">Publier</a>
  <a (click)="signOut()" *ngIf="!isAuth">Déconnexion</a> -->
</div>
<div class="logo">
  <img alt="logo groupomania" src="assets\images\icon-left-font.png">
</div>

