<form [formGroup]="postForm">
  <h4>Exprimez-vous</h4>
  <div class="form-group">
    <label for="title"></label>
    <input type="text" placeholder="Titre" class="form-control"  formControlName="title">
  </div>
  <div class="form-group">
    <label for="content"></label>
    <input type="textarea" placeholder="Que voulez-vous dire ..." class="form-control" formControlName="content">
    <button class="btn-post" [disabled]="postForm.invalid" (click)="onSubmit()" >Publier</button>
  </div>
   <p class="text-danger" *ngIf="errorMsg">{{ errorMsg }}</p>
</form>
