.mediapost-item {
  border: 2px solid #fd2900;
  border-radius: 24px 4px;
  padding-left: 1em;
  margin: 2em;
}
img {
  width: 20em;
  height: auto;
  margin-bottom: 2em;
}
img:hover {
  margin-left: 15em;
  transform: scale(1.8);
}
.timeMediaPost {
  color: grey;
  font-size: 0.7em;
}
