<div class="post-list" *ngIf="!loading">
  <div class="post-list-item" *ngFor="let post of posts">
    <div class="timePost">
      <p>publié le {{ post.createdAt | date:'dd/MM/yyyy' }} 
        à {{ post.createdAt | date:'HH:mm' }}
        par {{ post.user.firstName | uppercase }} {{ post.user.lastName | uppercase }} 
      </p>
      <button class="deleteAdmin" *ngIf="userId === post._id || isAdmin === true " 
              (click)="onDelete()"><i class="far fa-trash-alt"></i>
      </button>
    </div>
    <h4>{{ post.title | uppercase }}</h4>
    <p> {{ post.content }}</p>

    <app-comment [postId]="post.id"></app-comment>
    <app-comment-list [postId]="post.id"></app-comment-list>

  </div>
</div>
